
body {
    background-color: black;
    color: white;
}
#bg {
    display: flex;
    column-gap: 20px;
    justify-self: center;
    padding: 20px;
    background-color: grey;
    border: 10px solid lightgray;
    border-radius: 5px;
}
#toolsHolder {
   display: flex;
   display: none;
   overflow-x: scroll;
   width: 97vw;
}
#rangeInpt {
    width: 93vw;
}
#borderWidth_inpt {
    width: 93vw;
}
#colInpt {
    width: 93vw;
}
.disp_none {
    display: none;
}
.holder {
    color: white;
    background: black;
    padding: 15px;
    font-size: xx-large;
    font-family: monospace;
    border-radius: 10px;
}